body {
    width: 100%;
    margin: 0;
  }
  
.navbar {
    background-color: #cf7cf5;
    width: 100%;
  }

  .active {
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
  }

  .navbar-link {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }
  
  .navbar-link:hover {
    background-color: #ddd;
    color: black;
    border-radius: 40px;
  }
  
  .active {
    background-color: black;
    border-radius: 40px;
    color: white;
  }