body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: #cf7cf5;
  width: 100%;
}

.navbar-link {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.navbar-link:hover {
  background-color: #ddd;
  color: black;
  border-radius: 40px;
}

.active-topbar {
  background-color: black;
  border-radius: 40px;
  color: white;
}

.home-page {
  background-image: url(https://www.seekpng.com/png/detail/42-426149_about-us-dog-paw-background-png.png);
  min-height: 100vh; /* set the minimum height to the height of the viewport */
}

.hero-section {
  background-color: white;
  padding: 100px;
  border-radius: 40px;
}

.about-us-section {
  background-color: #bd50f0;
}

.card-body {
  background-color:  #bd50f0;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255)
}

.about-us-text {
  color: white;
}

.about-us-title {
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.form-details {
	width: 500px;
	margin: 0 auto;
	padding: 70px 0;
}

.form-details form{
	border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
  padding: 30px;
}

.form-details button{
  display: block;
  width: 100%;
  font-weight: 600;
}

.header {
  background-color: #cf7cf5;
  color: white;
  display: flex;
  justify-content: center;
}

.iconlist {
  display: flex;
  gap: 40px;
}

.iconitem{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-icon {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.iconitem:hover {
  text-decoration: none !important;
  color: black !important;
}
